@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Schoolbell);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand|Patrick+Hand+SC);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:900italic);
/*==================================================================
Reset & Default Setting CSS.
===================================================================*/
a,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
code,
dd,
div,
dl,
dt,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
input,
label,
li,
mark,
menu,
nav,
ol,
output,
p,
pre,
ruby,
section,
span,
summary,
table,
tbody,
td,
textarea,
th,
time,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  /* Smart Phone Smooth Scroll */
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  /*16px*/
  color: #000;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 100%;
  line-height: 1;
  /* iOS font automatic adjustment none. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.clear {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: " ";
}

a {
  text-decoration: none;
  color: #000;
  background: transparent;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: inherit;
  /*親要素の継承*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  /* On Hold
    opacity: 0.4;
    */
}

img {
  vertical-align: middle;
}

li,
ol,
ul {
  list-style-type: none;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  resize: vertical;
}

* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

::-moz-selection {
  background: RGBa(204, 0, 0, 0.1);
}

::selection {
  background: RGBa(204, 0, 0, 0.1);
}

::-moz-selection {
  background: RGBa(204, 0, 0, 0.1);
}

.displayPC {
  display: block;
}

.displaySP {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari Hack */
  * {
    /* Add Property */
  }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  /* Chrome Hack */
  * {
    /* Add Property */
  }
}

@-moz-document url-prefix() {
  /* FireFox Hack */
  * {
    /* Add Property */
  }
}

@media all and (-ms-high-contrast: none) {
  /* IE Hack */
  * {
    /* Add Property */
  }
}

/*==================================================================
All The Small Things, Top Page.
===================================================================*/
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  text-align: center;
}

#contents1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-top: -30px;
  opacity: 0;
}

#contents2 {
  position: absolute;
  z-index: 0;
  display: none;
  width: 100%;
  height: 100%;
}

header h1#mainLogo {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  /* IE and Old iPhone Introduction Animations Started Property*/
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}

header h1#mainLogo.IEandOldIphoneIntroAnimations {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /* IE and Old iPhone Introduction Animations End Property*/
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

header h1#mainLogo a {
  display: inline-block;
  margin: 60px 0 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: #222;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
  font-family: 'Schoolbell', cursive;
  font-size: 10em;
  font-weight: normal;
}

header h1#mainLogo a:hover {
  -webkit-transition: all 0.65s ease-in;
  transition: all 0.65s ease-in;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  text-shadow: none;
}

@media all and (-ms-high-contrast: none) {
  /* IE Hack */
  header h1#mainLogo a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  header h1#mainLogo a:hover {
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }
}

#mainDescription {
  position: relative;
  width: 320px;
  height: 30px;
  margin: 70px auto 0;
}

#mainDescription h2 {
  color: #555;
  font-family: sans-serif;
}

#mainDescription h2#kojiyamauchi {
  position: absolute;
  z-index: 3;
  right: 0;
  left: 0;
  width: 320px;
  height: 30px;
  line-height: 30px;
}

#mainDescription h2#kojiyamauchi span {
  position: relative;
  font-size: 1.125em;
  font-weight: bold;
}

#mainDescription h2#kojiyamauchi span#last {
  display: inline-block;
}

#mainDescription h2#kojiyamauchi span#last.comp {
  -webkit-animation: rotateY 0.1s linear 0s infinite normal;
  animation: rotateY 0.1s linear 0s infinite normal;
}

@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

#mainDescription h2#myPortfolio {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  width: 320px;
  height: 30px;
  line-height: 30px;
}

#mainDescription h2#myPortfolio span {
  position: relative;
  top: 30px;
  opacity: 0;
  font-size: 1.125em;
  font-weight: bold;
}

#mainDescription #mainDescriptionBackIMG img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

#subDescription {
  position: relative;
  width: 500px;
  height: 30px;
  margin: 15px auto 0;
}

#subDescription h3 {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  width: 500px;
  height: 30px;
  color: #7a797a;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.25em;
  font-style: italic;
  line-height: 30px;
}

#subDescription #subDescriptionBackIMG img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

#socialLink {
  margin: 48px 0 0;
}

#socialLink h4 {
  color: #555;
  font-family: sans-serif;
  font-size: 1.125em;
  font-weight: bold;
}

#socialLink h4 span {
  font-weight: bold;
}

#socialLink ul {
  display: table;
  margin: 20px auto 0;
}

#socialLink ul li {
  display: table-cell;
}

#socialLink ul li a {
  display: inline-block;
  height: 40px;
  padding: 0 35px 0 55px;
  color: #555;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 40px;
  position: relative;
}

#socialLink ul li a::before {
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  margin: 0 0 0 -55px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}

#socialLink ul li a.pc {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#socialLink ul li a.pc:hover {
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
  -webkit-transform: scale(1.45);
  -ms-transform: scale(1.45);
  transform: scale(1.45);
}

#socialLink ul li a.pc:hover::before {
  -webkit-animation: fireworks 0.45s ease-out 0.2s 1 normal;
  animation: fireworks 0.45s ease-out 0.2s 1 normal;
}

@-webkit-keyframes fireworks {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes fireworks {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

#socialLink ul li:nth-child(1) a {
  background-image: url("../images/iconTwitter.svg");
}

#socialLink ul li:nth-child(1) a::before {
  background: url("../images/twitterFireWorks.svg") no-repeat;
}

#socialLink ul li:nth-child(2) a {
  background-image: url("../images/iconFaceBook.svg");
}

#socialLink ul li:nth-child(2) a::before {
  background: url("../images/faceBookFireWorks.svg") no-repeat;
}

#socialLink ul li:nth-child(3) a {
  background-image: url("../images/iconLinkedIn.svg");
}

#socialLink ul li:nth-child(3) a::before {
  background: url("../images/linkedInFireWorks.svg") no-repeat;
}

#socialLink ul li:nth-child(4) a {
  background-image: url("../images/iconBehance.svg");
}

#socialLink ul li:nth-child(4) a::before {
  background: url("../images/behanceFireWorks.svg") no-repeat;
}

#socialLink ul li:nth-child(5) a {
  background-image: url("../images/iconGitHub.svg");
}

#socialLink ul li:nth-child(5) a::before {
  background: url("../images/gitHubFireWorks.svg") no-repeat;
}

#socialLink ul li:nth-child(6) a {
  padding: 0 0 0 50px;
  background-image: url("../images/iconInstagram.svg");
}

#socialLink ul li:nth-child(6) a::before {
  margin: 0 0 0 -50px;
  background: url("../images/instagramFireWorks.svg") no-repeat;
}

@media all and (-ms-high-contrast: none) {
  /* IE Hack */
  #socialLink ul li:nth-child(1) a {
    background-image: url("../images/iconTwitter.png");
  }
  #socialLink ul li:nth-child(2) a {
    background-image: url("../images/iconFaceBook.png");
  }
  #socialLink ul li:nth-child(3) a {
    background-image: url("../images/iconLinkedIn.png");
  }
  #socialLink ul li:nth-child(4) a {
    background-image: url("../images/iconBehance.png");
  }
  #socialLink ul li:nth-child(5) a {
    background-image: url("../images/iconGitHub.png");
  }
  #socialLink ul li:nth-child(6) a {
    background-image: url("../images/iconInstagram.png");
  }
}

footer {
  margin: 65px 0 0;
  padding: 0 0 30px;
}

footer p {
  color: #999;
  text-shadow: 0 1px 0 #fff;
  font-family: 'Lobster', cursive;
  font-size: 1.375em;
}

#motionSkipBox {
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  display: none;
  width: 100px;
  height: 132px;
}

#motionSkipBox:hover {
  cursor: pointer;
}

#motionSkipBox img {
  width: 100%;
}

#motionSkipBox img#motionSkipSneaker {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
}

#motionSkipBox img#motionSkipNote {
  position: absolute;
  z-index: 102;
  top: 0;
  left: 0;
}

#motionSkipBox img#motionSkipMask {
  position: absolute;
  z-index: 103;
  top: 0;
  left: 0;
}

#motionSkipBox p#greeting {
  position: absolute;
  top: -65px;
  right: 0;
  white-space: nowrap;
  letter-spacing: 0;
  opacity: 0;
  color: #999999;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.25em;
  font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #motionSkipBox p#greeting {
    /* Safari Hack */
    letter-spacing: -0.05em;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  #motionSkipBox p#greeting {
    /* Chrome Hack */
    letter-spacing: 0;
  }
}

#motionSkipBox p#greeting.comp {
  -webkit-animation: greeting 1s linear 0.25s 1 normal;
  animation: greeting 1s linear 0.25s 1 normal;
}

@-webkit-keyframes greeting {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -200%);
    transform: translate(0, -200%);
    opacity: 0;
  }
}

@keyframes greeting {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -200%);
    transform: translate(0, -200%);
    opacity: 0;
  }
}

#motionSkipBox #motionSkip {
  position: absolute;
  top: -22%;
  left: -60%;
  width: 110px;
  -webkit-transition: all 0.75s ease 0.25s;
  transition: all 0.75s ease 0.25s;
  -webkit-transform: translate(0, 10%);
  -ms-transform: translate(0, 10%);
  transform: translate(0, 10%);
  opacity: 0;
}

#motionSkipBox #motionSkip.comp {
  -webkit-transition: all 0.75s ease 0.25s;
  transition: all 0.75s ease 0.25s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

#motionSkipBox #motionSkip p {
  margin: 0;
  padding: 15px;
  letter-spacing: 0;
  color: #fff;
  border-radius: 100%;
  background: #000;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #motionSkipBox #motionSkip p {
    /* Safari Hack */
    letter-spacing: -0.05em;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  #motionSkipBox #motionSkip p {
    /* Chrome Hack */
    letter-spacing: 0;
  }
}

#motionSkipBox #motionSkip:before {
  position: absolute;
  z-index: -1;
  right: 10px;
  bottom: -5px;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 0;
  content: "";
  border-radius: 0 30px 0 30px;
  background: #000;
}

#motionSkipBox #motionSkip:after {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 0;
  content: "";
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  border-radius: 0 30px 0 30px;
  background: #FFF;
}

#introWelcome {
  position: absolute;
  top: 50%;
  left: -2000px;
  display: none;
  width: 100%;
  margin-top: -40px;
  color: #000;
}

#introWelcome .welcomeFont {
  font-family: 'Roboto', sans-serif;
  font-size: 3.75em;
  font-weight: bold;
  font-style: italic;
}

#introWelcome .fa-paper-plane-o {
  font-size: 4em;
}

#introWelcome .allTheSmallThingsLogoWrap {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 6em;
  height: 6em;
}

#introWelcome .allTheSmallThingsLogoWrap .logoSneaker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#introWelcome .allTheSmallThingsLogoWrap .logoSneaker img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#introWelcome .allTheSmallThingsLogoWrap .logoNote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#introWelcome .allTheSmallThingsLogoWrap .logoNote img {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
}

#introWelcome .allTheSmallThingsLogoWrap .logoMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#introWelcome .allTheSmallThingsLogoWrap .logoMask img {
  position: absolute;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
}

#introWelcome .hopping {
  position: relative;
}

#logoSVG {
  width: 780px;
  margin: 0 auto;
  padding: 45px 0 0;
}

#logoSVG svg path {
  opacity: 0;
}

.introduction {
  pointer-events: none;
}

/*==================================================================
Responsive Media Queries
===================================================================*/
@media screen and (min-width: 2061px) {
  /* iMac 27inch. */
  body {
    font-size: 150%;
  }
  #contents1 {
    margin-top: -45px;
  }
  header h1#mainLogo a {
    margin: 90px 0 0;
  }
  #mainDescription {
    width: 480px;
    height: 45px;
    margin: 105px auto 0;
  }
  #mainDescription h2#kojiyamauchi, #mainDescription h2#myPortfolio {
    width: 480px;
    height: 45px;
    line-height: 45px;
  }
  #mainDescription #mainDescriptionBackIMG img {
    width: 45px;
    height: 45px;
  }
  #subDescription {
    width: 750px;
    height: 45px;
    margin: 22.5px auto 0;
  }
  #subDescription h3 {
    width: 750px;
    height: 45px;
    line-height: 45px;
  }
  #subDescription #subDescriptionBackIMG img {
    width: 45px;
    height: 45px;
  }
  #socialLink {
    margin: 72px 0 0;
  }
  #socialLink ul {
    margin: 30px auto 0;
  }
  #socialLink ul li a {
    height: 60px;
    padding: 0 52.5px 0 82.5px;
    line-height: 60px;
  }
  #socialLink ul li a::before {
    width: 60px;
    height: 60px;
    margin: 0 0 0 -82.5px;
  }
  #socialLink ul li:nth-child(6) a {
    padding: 0 0 0 75px;
  }
  #socialLink ul li:nth-child(6) a::before {
    margin: 0 0 0 -75px;
  }
  footer {
    margin: 97.5px 0 0;
    padding: 0 0 45px;
  }
  #motionSkipBox {
    width: 150px;
    height: 198px;
  }
  #motionSkipBox p#greeting {
    top: -97.5px;
  }
  #motionSkipBox #motionSkip {
    width: 165px;
  }
  #motionSkipBox #motionSkip p {
    padding: 22.5px;
  }
  #motionSkipBox #motionSkip:before {
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 0 45px 0 45px;
  }
  #motionSkipBox #motionSkip:after {
    width: 45px;
    height: 45px;
    border-radius: 0 45px 0 45px;
  }
  #introWelcome {
    margin-top: -60px;
  }
  #logoSVG {
    width: 1170px;
    padding: 67.5px 0 0;
  }
}

@media screen and (min-width: 1445px) and (max-width: 2060px) {
  /* iMac 21.5inch. */
  body {
    font-size: 120%;
  }
  #contents1 {
    margin-top: -36px;
  }
  header h1#mainLogo a {
    margin: 72px 0 0;
  }
  #mainDescription {
    width: 384px;
    height: 36px;
    margin: 84px auto 0;
  }
  #mainDescription h2#kojiyamauchi, #mainDescription h2#myPortfolio {
    width: 384px;
    height: 36px;
    line-height: 36px;
  }
  #mainDescription #mainDescriptionBackIMG img {
    width: 36px;
    height: 36px;
  }
  #subDescription {
    width: 600px;
    height: 36px;
    margin: 18px auto 0;
  }
  #subDescription h3 {
    width: 600px;
    height: 36px;
    line-height: 36px;
  }
  #subDescription #subDescriptionBackIMG img {
    width: 36px;
    height: 36px;
  }
  #socialLink {
    margin: 57.6px 0 0;
  }
  #socialLink ul {
    margin: 24px auto 0;
  }
  #socialLink ul li a {
    height: 48px;
    padding: 0 42px 0 66px;
    line-height: 48px;
  }
  #socialLink ul li a::before {
    width: 48px;
    height: 48px;
    margin: 0 0 0 -66px;
  }
  #socialLink ul li:nth-child(6) a {
    padding: 0 0 0 60px;
  }
  #socialLink ul li:nth-child(6) a::before {
    margin: 0 0 0 -60px;
  }
  footer {
    margin: 78px 0 0;
    padding: 0 0 36px;
  }
  #motionSkipBox {
    width: 120px;
    height: 158.4px;
  }
  #motionSkipBox p#greeting {
    top: -78px;
  }
  #motionSkipBox #motionSkip {
    width: 132px;
  }
  #motionSkipBox #motionSkip p {
    padding: 18px;
  }
  #motionSkipBox #motionSkip:before {
    right: 12px;
    width: 36px;
    height: 36px;
    border-radius: 0 36px 0 36px;
  }
  #motionSkipBox #motionSkip:after {
    width: 36px;
    height: 36px;
    border-radius: 0 36px 0 36px;
  }
  #introWelcome {
    margin-top: -48px;
  }
  #logoSVG {
    width: 936px;
    padding: 54px 0 0;
  }
}

/*
@media screen and (min-width: 1381px) and (max-width:1444px)  { Large PC.
}
*/
@media screen and (max-width: 1380px) {
  /* Medium PC. */
  body {
    min-width: 800px;
    font-size: 87.5%;
  }
  #contents1 {
    margin-top: -26.25px;
  }
  header h1#mainLogo a {
    margin: 52.5px 0 0;
  }
  #mainDescription {
    width: 280px;
    height: 26.25px;
    margin: 61.25px auto 0;
  }
  #mainDescription h2#kojiyamauchi, #mainDescription h2#myPortfolio {
    width: 280px;
    height: 26.25px;
    line-height: 26.25px;
  }
  #mainDescription #mainDescriptionBackIMG img {
    width: 26.25px;
    height: 26.25px;
  }
  #subDescription {
    width: 437.5px;
    height: 26.25px;
    margin: 13.125px auto 0;
  }
  #subDescription h3 {
    width: 437.5px;
    height: 26.25px;
    line-height: 26.25px;
  }
  #subDescription #subDescriptionBackIMG img {
    width: 26.25px;
    height: 26.25px;
  }
  #socialLink {
    margin: 42px 0 0;
  }
  #socialLink ul {
    margin: 17.5px auto 0;
  }
  #socialLink ul li a {
    height: 35px;
    padding: 0 30.625px 0 48.125px;
    line-height: 35px;
  }
  #socialLink ul li a::before {
    width: 35px;
    height: 35px;
    margin: 0 0 0 -48.125px;
  }
  #socialLink ul li:nth-child(6) a {
    padding: 0 0 0 43.75px;
  }
  #socialLink ul li:nth-child(6) a::before {
    margin: 0 0 0 -43.75px;
  }
  footer {
    margin: 56.875px 0 0;
    padding: 0 0 26.25px;
  }
  #motionSkipBox {
    width: 87.5px;
    height: 115.5px;
  }
  #motionSkipBox p#greeting {
    top: -56.875px;
  }
  #motionSkipBox #motionSkip {
    width: 96.25px;
  }
  #motionSkipBox #motionSkip p {
    padding: 13.125px;
  }
  #motionSkipBox #motionSkip:before {
    right: 8.75px;
    width: 26.25px;
    height: 26.25px;
    border-radius: 0 26.25px 0 26.25px;
  }
  #motionSkipBox #motionSkip:after {
    width: 26.25px;
    height: 26.25px;
    border-radius: 0 26.25px 0 26.25px;
  }
  #introWelcome {
    margin-top: -35px;
  }
  #logoSVG {
    width: 682.5px;
    padding: 39.375px 0 0;
  }
}

/*
@media screen and (max-width: 991px) { Tablet.
}
*/
@media (max-width: 768px) {
  /* Smart Phone. */
  .displayPC {
    display: none;
  }
  .displaySP {
    display: block;
  }
}

/*
@media screen and (max-width:480px) { Small Smart Phone2.
}
@media screen and (max-width:338px) { Small Smart Phone1.
}
Mac PC Default Window Width.
-iMac 27inch & iMac 27inch Retina Display-
width: 2560;
-iMac 21.5inch-
width: 2048;
-MacBook Pro 15inch Retina Display-
width: 1440;
-MacBook Pro 13inch Retina Display-
width: 1440;
-MacBook Air 13inch-
width: 1440;
-MacBook Air 11inch-
width: 1366;
-MacBook 12inch Retina Display-
width: 1280;
*/
